*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f5f7fa;
  color:#333;
}

html{
  scroll-behavior:smooth;
}

/* Navbar */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:#0d6efd;
  color:white;
  position:fixed;
  width:100%;
  z-index:1000;
}

.logo{
  font-size:28px;
}

.nav-links{
  display:flex;
  list-style:none;
}

.nav-links li{
  margin-left:25px;
}

.nav-links a{
  color:white;
  text-decoration:none;
  font-weight:bold;
  transition:0.3s;
}

.nav-links a:hover{
  color:yellow;
}

/* Hero */

.hero{
  height:100vh;
  background:
  linear-gradient(rgba(0,0,0,0.6),
  rgba(0,0,0,0.6)),
  url("https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?q=80&w=1600&auto=format&fit=crop");

  background-size:cover;
  background-position:center;

  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
}

.hero-content{
  width:80%;
}

.hero h1{
  font-size:60px;
  margin-bottom:20px;
}

.hero p{
  font-size:22px;
  margin-bottom:30px;
}

button{
  padding:14px 28px;
  border:none;
  background:#ffc107;
  color:black;
  font-size:18px;
  cursor:pointer;
  border-radius:6px;
  transition:0.3s;
}

button:hover{
  transform:scale(1.05);
  background:white;
}

/* Sections */

.section{
  padding:100px 10%;
}

.section h2{
  text-align:center;
  color:#0d6efd;
  margin-bottom:50px;
  font-size:40px;
}

/* About */

.about-container{
  display:flex;
  gap:40px;
  align-items:center;
  flex-wrap:wrap;
}

.about-container img{
  width:450px;
  border-radius:10px;
}

.about-container p{
  margin-bottom:20px;
  line-height:1.8;
  font-size:18px;
}

/* Projects */

.projects-section{
  background:#eef4ff;
}

.projects-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
}

.project-card{
  background:white;
  border-radius:10px;
  overflow:hidden;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  transition:0.4s;
}

.project-card:hover{
  transform:translateY(-10px);
}

.project-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.card-content{
  padding:20px;
}

.card-content h3{
  margin-bottom:15px;
  color:#0d6efd;
}

/* Impact */

.impact-section{
  padding:100px 10%;
  text-align:center;
}

.impact-section h2{
  margin-bottom:50px;
  color:#0d6efd;
}

.impact-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:30px;
}

.impact-box{
  background:white;
  padding:40px 20px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.impact-box i{
  font-size:40px;
  color:#0d6efd;
  margin-bottom:20px;
}

.counter{
  font-size:40px;
  margin-bottom:10px;
}

/* CTA */

.cta-section{
  background:#0d6efd;
  color:white;
  text-align:center;
  padding:80px 20px;
}

.cta-section h2{
  margin-bottom:20px;
  font-size:42px;
}

.cta-section p{
  margin-bottom:30px;
  font-size:20px;
}

/* Popup */

.popup{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);

  justify-content:center;
  align-items:center;
}

.popup-content{
  background:white;
  padding:40px;
  border-radius:10px;
  text-align:center;
  width:350px;
  position:relative;
}

.popup-content h2{
  color:#0d6efd;
  margin-bottom:20px;
}

#closePopup{
  position:absolute;
  right:20px;
  top:10px;
  font-size:30px;
  cursor:pointer;
}

/* Footer */

footer{
  background:#082c66;
  color:white;
  text-align:center;
  padding:20px;
}

/* Responsive */

@media(max-width:768px){

  .hero h1{
    font-size:40px;
  }

  .hero p{
    font-size:18px;
  }

  .navbar{
    flex-direction:column;
  }

  .nav-links{
    margin-top:15px;
  }

  .about-container{
    flex-direction:column;
  }

  .about-container img{
    width:100%;
  }
}
